.bigcard__image > a > img {
    border-radius: 10px;
    min-width: 600px;
}

.bigcard__title > h2 {
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bigcard__description > p {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    text-align: justify;
}