.div__menu-title > h1 {
    display: flex;
    justify-content: center;
    font-size: 3.50em;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 25px;
}

.div__menu-title > hr {
    border-style: dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}