<div class="smallcard__conteiner">
    <div class="smallcard__content">
        <div class="smallcard__image">
            <a [routerLink]="['content', smallCardSlug]">
            <img src="{{ smallCardImageBase64 }}" alt="Smallcard image">
            </a>
        </div>
        <div class="smallcard__text">
            <div class="smallcard__author-date">
                <p>{{ smallCardAuthorDate }}</p>
            </div>
            <div class="smallcard__description">
                <p><a [routerLink]="['content', smallCardSlug]">{{ smallCardDescription }}</a></p>
            </div>
        </div>
    </div>
    <hr/>
</div>