.div__home {
    display: flex;
    justify-content: center;
}

@media (width <= 1399px) {
    .div__home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .div__home-bigcard {
        display: flex;
        justify-content: center;
        padding: 20px;
        max-width: 600px;
    }

    .div__home-smallcard {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 700px;
    }
}

@media (width >= 1400px) {
    .div__home-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }

    .div__home-bigcard {
        display: flex;
        padding: 20px;
        max-width: 600px;
    }

    .div__home-smallcard {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 800px;
    }
}
