<main>
    <div><app-menu-bar></app-menu-bar></div>
    <div><app-menu-title></app-menu-title></div>
    <div class="div__home">
        <div class="div__home-container">
            <div *ngFor="let feature of featureContents;" class="div__home-bigcard">
                <app-big-card 
                bigCardTitle="{{ feature.title }}"
                bigCardDescription="{{ feature.text }}"
                bigCardSlug="{{ feature.slug }}"
                ></app-big-card>
            </div>
            <div class="div__home-smallcard">
                <div *ngFor="let other of otherContents;">
                    <app-small-card 
                    smallCardAuthorDate="{{ other.authordate }}"
                    smallCardDescription="{{ other.text }}"
                    smallCardSlug="{{ other.slug }}"
                    >
                    </app-small-card>
                </div>
            </div>
        </div>
    </div>
</main>
