.div__home {
    display: flex;
    justify-content: center;
}

.div__home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.div__home-bigcard {
    display: flex;
    padding: 20px;
    max-width: 600px;
}

.div__home-smallcard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
}
